<script>
    function convertSeconds(seconds) {
        seconds = Math.max(seconds, 0);
        const hours = Math.floor(seconds / 3600);
        seconds %= 3600;
        const minutes = Math.floor(seconds / 60);
        seconds %= 60;
        return `${hours <= 9 ? '0'+hours : hours}:${minutes <= 9 ? '0'+minutes : minutes}:${seconds <= 9 ? '0'+seconds : seconds}`;
    }

    function calculateRemaining() {
        const start_time = new Date("{{ contest.start_time|date:'Y-m-d H:i:s' }}").getTime();
        const end_time = new Date("{{ contest.duration|add:contest.start_time|date:'Y-m-d H:i:s' }}").getTime();
        const remainingStart = Math.floor((start_time - new Date().getTime()) / 1000);
        const remainingEnd = Math.floor((end_time - new Date().getTime()) / 1000);

        if (remainingStart > 0) {
            return [remainingStart, "Starts In"];
        }
        return [remainingEnd, "Ends In"];
    }

    $(document).ready(function () {
        let [remaining, text] = calculateRemaining();

        if (remaining > 0) {
            $('.countdown').html(`${text} : ${convertSeconds(remaining)}`);
        }
        else {
            $('.countdown').html('Finished');
        }

        const interval = setInterval(() => {
            if (remaining <= 0)
                clearInterval(interval);
            else
                remaining -= 1;

            if (remaining > 0) {
                $('.countdown').html(`${text} : ${convertSeconds(remaining)}`);
            }
            else if (text === 'Starts In') {
                [remaining, text] = calculateRemaining();
            }
            else {
                $('.countdown').html('Finished');
            }
        }, 1000);
    });
</script>