<ul class="nav nav-tabs nav-fill mb-4">
    <li class="nav-item">
        <a class="nav-link {{ contest_problems_tab }}" href="{% url 'contest:contest-problems' contest.id %}">Problems</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ contest_my_submissions_tab }}" href="{% url 'contest:contest-my-submissions' contest.id %}">My Submissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ contest_standings_tab }}" href="{% url 'contest:contest-standings' contest.id %}">Standings</a>
    </li>
</ul>