<script>
    function convertSeconds(seconds) {
        seconds = Math.max(seconds, 0);
        const hours = Math.floor(seconds / 3600);
        seconds %= 3600;
        const minutes = Math.floor(seconds / 60);
        seconds %= 60;
        return `${hours <= 9 ? '0'+hours : hours}:${minutes <= 9 ? '0'+minutes : minutes}:${seconds <= 9 ? '0'+seconds : seconds}`;
    }

    function getTime(obj) {
        if (window.location.pathname === "/contests/upcoming/") {
            return new Date($(obj).data('start-time')).getTime();
        }
        return new Date($(obj).data('end-time')).getTime();
    }

    function changeCountDownTime() {
        $('.countdown').each(function (index, obj) {
            const remaining = Math.floor((getTime(obj) - new Date().getTime()) / 1000);
            $(obj).html(convertSeconds(remaining));
        });
    }

    $(document).ready(function () {
        changeCountDownTime();

        setInterval(() => {
            changeCountDownTime();
        }, 1000)
    });
</script>