{% extends 'training/base.html' %}

{% block content %}
    {% for tutorial in tutorials %}
        <div class="card my-2" style="border-left: 6px solid #3f63a7;">
            <div class="card-body text-dark">
                {% if user.is_authenticated and user.profile.levels_completed >= tutorial.level %}
                    <h4> <a href="{% url 'training:tutorial-details' tutorial.id %}">{{ tutorial.title }} </a>  </h4>
                    {{ tutorial.content|safe|truncatechars_html:1000 }}
                    <a class="read-more" href="{% url 'training:tutorial-details' tutorial.id %}"> Read More </a>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2">
                             <div class = "text-center" style="font-size: 30px;">
                                 <i class="fa fa-lock text-danger"></i> <strong>Locked</strong>
                             </div>
                        </div>
                        <div class="col-sm-10">
                            <h4> <a href="{% url 'training:tutorial-details' tutorial.id %}">{{ tutorial.title }} </a>  </h4>
                            {{ tutorial.content|safe|truncatechars_html:100 }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}