{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


    <ul class="nav nav-tabs nav-fill mb-4">
        <li class="nav-item">
            <a class="nav-link {{ dashboard_ProblemStatement_tab }}" href="{% url 'problemset:problem-update' problem.id%}">Statement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ dashboard_ProblemTests_tab }}" href="{% url 'problemset:testcase-list' problem.id%}">Tests</a>
        </li>
    </ul>



    <div class="card">
        <div class="card-header text-center">
            <strong> {{ card_header }} </strong>
        </div>

        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <fieldset>
                    {{ form | crispy }}
                    {{ form.media }}
                </fieldset>
                <div class="form-group">
                    <a href="{% url 'accounts:testcase-list' problem.id%}"><button class="btn btn-primary" type="submit"> {{ operation }} </button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
         $(document).ready(function () {
            $(".django-ckeditor-widget").css("display", "block")
         });
    </script>
{% endblock %}