{% extends 'problemset/base.html' %}

{% block content %}
    {% include 'problemset/snippets/list_tabs.html' %}

    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
                <table id="id_problem_list" class="table  table-bordered table-hover">
                    <thead class="text-center">
                        <tr>
                            <th width="8%"> # </th>
                            <th>
                                Name
                            </th>
                            <th width="15%"> Solve Count </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for problem in problems %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a href="{% url 'problemset:problem-details' problem.id %}">
                                        {{ problem.name }}
                                        {% if problem.is_solved %}
                                            <span class="fa fa-check text-success"> </span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td> {{ problem.solve_count }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}