{% extends 'problemset/base.html' %}

{% block content %}
    {% include 'problemset/snippets/list_tabs.html' %}

    <div class="table-responsive p-1">
        <table id="id_standing_list" class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th width="8%"> # </th>
                    <th> Handle </th>
                    <th width="25%"><i class="fa fa-check" aria-hidden="true"></i> Problems Solved </th>
                </tr>
            </thead>

            <tbody class="text-center">
                {% for user in users %}
                    <tr>
                        <td> {{ forloop.counter|add:page_obj.start_index|add:-1 }} </td>
                        <td> <a href="{% url 'accounts:user-profile' user.username %}" class="rank-text rank-{{ user.profile.rank }}"> {{ user.username }} </a></td>
                        <td> {{ user.solve_count }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'snippets/paginations.html' %}
{% endblock %}