{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <ul class="nav nav-tabs nav-fill mb-4">
            <li class="nav-item">
                <a class="nav-link {{ dashboard_ProblemStatement_tab }}" href="{% url 'problemset:problem-update' problem.id %}">Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ dashboard_ProblemTests_tab }}" href="{% url 'problemset:testcase-list' problem.id%}">Tests</a>
            </li>
    </ul>

    <div class="card">
        <div class="card-header text-center">
                <strong>Problem : <a href="{% url 'problemset:problem-details' problem.id %}"><b>{{ problem }}</b></a></strong>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary float-right mr-0 mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                Add test case
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add test case</h5>
                    </div>
                        <form method="POST" action="{% url 'problemset:add-testcase' problem.id %}" enctype="multipart/form-data">
                            <div class="modal-body">
                                {% csrf_token %}
                                <fieldset>
                                    {{ form_class | crispy }}
                                    {{ form_class.media }}
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit"> Add </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive p-1">
                <table id="id_problem_list" class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th width="8%"> # </th>
                            <th width="20%">Label</th>
                            <th width="20%">Input </th>
                            <th width="20%"> Output </th>
                            <th width="20%"> Sample </th>
                            <th width="20%"> </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for testcase in testcases %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ testcase.label }} </td>
                            <td><a href="">{{ testcase.input }}</a> </td>
                            <td><a href="/home/farhan/MUOJ/media/{{ testcase.output }}">{{ testcase.output }}</a> </td>
                            <td> {{ testcase.is_sample }} </td>
                            <td>
                                <a class="ml-2 delete-contest text-danger" href="{% url 'problemset:delete-testcase' problem.id testcase.id%}">
                                    <i class="fa fa-trash" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
    <script>
         $(document).ready(function () {
            $(".django-ckeditor-widget").css("display", "block")
         });
    </script>
{% endblock %}