{% extends 'accounts/base.html' %}

{% block content %}
    {% comment %} Breadcrumb {% endcomment %}

    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
                <table class="table table-hover table-bordered text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th > #</th>
                            <th width="50%"> Handle</th>
                            <th width="25%"> Contests </th>
                            <th width="25%"> Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td> {{ forloop.counter|add:page_obj.start_index|add:-1 }} </td>
                                <td>
                                    <a href="{% url 'accounts:user-profile' user.user.username %}" class="rank-text rank-{{ user.rank }}">
                                        {{ user.user }}
                                    </a>
                                </td>
                                <td> {{ user.contest_count }} </td>
                                <td> {{ user.rating }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'snippets/paginations.html' %}
{% endblock %}