{% extends 'accounts/base.html' %}

{% block content %}
    {% include 'accounts/snippets/list_tabs.html' %}
    {% if user.is_authenticated %}
        <div class="mb-4 d-flex">
            <div class="w-100">
                <a href="{% url 'problemset:add-problem' %}" class="add-blog btn btn-sm btn-primary float-right mr-0">
                    <i class="fa fa-plus mr-1"></i> Add Problem
                </a>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
                <table id="id_problem_list" class="table  table-bordered table-hover table-striped">
                    <thead class="text-center">
                        <tr>
                            <th width="8%"> # </th>
                            <th>
                                Name
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for problem in user_problems %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a href="{% url 'problemset:problem-details' problem.id %}">
                                        {{ problem.name }}
                                        {% if problem.is_solved %}
                                            <span class="fa fa-check text-success"> </span>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}