{% extends 'accounts/base.html' %}

{% block content %}
    {% include 'accounts/snippets/list_tabs.html' %}
    <div class="card">
       <div class="card-body">
           <div class="row">
               <div class="col-sm-8">
                   <h5 class="m-2 rank-{{ v_user.profile.rank }}"> {{ v_user.profile.rank_label }} </h5>
                   <h2 class="m-2 rank-{{ v_user.profile.rank }}"> {{ v_user.username }} </h2>
                   <div class="fa fa-location-arrow m-2"> From {{ v_user.profile.location }} </div> <br/>
                   <div class="fa fa-star m-2">
                       Contest Rating : <span class="rank-text rank-{{ v_user.profile.rank }}"> {{ v_user.profile.rating }} </span>
                   </div> <br/>
                   <div class="fa fa-user m-2">
                       {% if not v_user.first_name and not v_user.last_name %}
                           Not Provided
                       {% endif %}
                       {{ v_user.first_name }} {{ v_user.last_name }}
                   </div> <br/>
                   <div class="fa fa-envelope m-2">
                       {% if not v_user.email %}
                           Not Provided
                       {% endif %}
                       {{ v_user.email }}
                   </div> <br/>
                   <div class="fa fa-group m-2">
                       {% if not v_user.profile.institution %}
                           Not Provided
                       {% endif %}
                       {{ v_user.profile.institution }}
                   </div> <br/>
               </div>
               <div class="col-sm-4">
                   <img alt="Profile" src="{{ v_user.profile.profile_picture.url }}" />
               </div>
           </div>
       </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <canvas id="rating-chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $(document).ready(function () {
            const rated_contests = {{ rated_contests }};
            const ratings = {{ ratings }};

            new Chart(document.getElementById("rating-chart"), {
              type: 'line',
              data: {
                labels: rated_contests,
                datasets: [{
                    data: ratings,
                    label: "Contest Rating",
                    borderColor: "#3e95cd",
                    fill: true
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: '{{ v_user.username }}\'s Rating'
                }
              }
            });
        })
    </script>
{% endblock %}