{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
    {% include 'accounts/snippets/list_tabs.html' %}
    <div class="card">
        <div class="card-body">
            <table class="table table-responsive table-hover text-center table-bordered table-striped">
                <thead class="thead-dark" >
                    <tr>
                        <th > #</th>
                        <th width="40%"> Name</th>
                        <th width="15%"> Author</th>
                        <th width="20%"> Start </th>
                        <th width="10%"> Duration </th>
                        <th width="15%"> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    {% for contest in user_contests %}
                        <tr>

                            <td> {{ forloop.counter }} </td>
                            <td> <a href="{% url 'contest:contest-details' contest.id %}"> {{ contest.title }}</a> </td>
                            <td>
                                <a
                                         href="{% url 'accounts:user-profile' contest.author.username %}"
                                         class="rank-text rank-{{ contest.author.profile.rank }}"
                                 >
                                     {{ contest.author.username }}
                                 </a>
                            </td>
                            <td> {{ contest.start_time|date:"H:i e | M/d/o" }} </td>
                            <td>{{ contest.duration }}</td>
                            <td><a href="{% url 'contest:contest-standings' contest.id %}">{{ "Final Standings" }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not user_contests.count %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img
                            style="width: 40%; height: 40%; min-height: 250px; min-width: 250px;"
                            alt="No Data"
                            src="{% static 'images/svg/no_data.svg' %}"
                    />
                    <h4> No Contests Available! </h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}