{% extends 'accounts/base.html' %}

{% block content %}
    {% include 'accounts/snippets/list_tabs.html' %}

    {% for blog in user_blogs %}
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
                <p>
                    {{ blog.truncated_content|safe }}
                </p>
                {% if blog.content|length > 500 %}
                    <a class="read-more" href="{% url 'blog:blog-details' blog.id %}"> Read More </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <hr />

    {% include 'snippets/paginations.html' %}
{% endblock %}