<div class="tabs">
    <ul>
        <li class="tab-li {{ contest_update_tab }}">
            <a class="urlBlackColor btn" href="{% url 'dashboard:contest-update' contest.id %}">Update Info</a>
        </li>
        <li class="tab-li {{ contest_problems_tab }}">
            <a class="urlBlackColor btn" href="{% url 'dashboard:contest-problems' contest.id %}">Problems</a>
        </li>
        <li class="tab-li {{ contest_authors_tab }}">
            <a class="urlBlackColor btn" href="{% url 'dashboard:contest-authors' contest.id %}">Authors</a>
        </li>
        <li class="tab-li {{ contest_statistics_tab }}">
            <a class="urlBlackColor btn" href="{% url 'dashboard:contest-statistics' contest.id %}">Statistics</a>
        </li>
    </ul>
</div>