{% extends 'blog/base.html' %}

{% block content %}
    {% comment %} Breadcrumb {% endcomment %}

    <div class="card bg-light mt-2 mb-2">
                    <div class="card-header">
                        <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
                        <h6>
                            by
                            <a class="rank-text rank-{{ blog.user.profile.rank }}" href="{% url 'accounts:user-profile' blog.user.username %}">
                                {{ blog.user.username }}
                            </a>, <small>{{blog.created_at}}</small>
                        </h6>
                    </div>
                    <div class="card-body" style="background-color:#f2f7fa;">
                        <p>
                            {{ blog.content|safe }}
                        </p>
                    </div>
    </div>
    {% if blog.user == user %}
        <div class="d-flex mt-4">
            <div class="flex-grow-1">
                <a href="{% url 'blog:blog-update' blog.id %}" class="btn btn-sm btn-info"> Edit </a>
            </div>
            <div class="flex-grow-1">
                <a href="{% url 'blog:blog-delete' blog.id %}" class="btn btn-sm btn-danger float-right"> Delete </a>
            </div>
        </div>
    {% endif %}
{% endblock %}