{% extends 'blog/base.html' %}

{% block content %}
    {% comment %} Breadcrumb {% endcomment %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Blogs</li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>

    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
            <p>
                {{ blog.content|safe|linebreaks }}
            </p>
        </div>
    </div>
    {% if blog.user == user %}
        <div class="d-flex mt-4">
            <div class="flex-grow-1">
                <a href="{% url 'blog:blog-update' blog.id %}" class="btn btn-info"> Edit </a>
            </div>
            <div class="flex-grow-1">
                <a href="{% url 'blog:blog-delete' blog.id %}" class="btn btn-danger float-right"> Delete </a>
            </div>
        </div>
    {% endif %}
{% endblock %}