{% extends 'blog/base.html' %}

{% block content %}
    <div class="mb-4 d-flex">
        <div>
            <h3> Blogs </h3>
        </div>
        <div class="w-100">
            <a href="{% url 'blog:blog-create' %}" class="add-blog btn btn-primary float-right mr-0">
                <i class="fa fa-plus mr-1"></i> Add Blog
            </a>
        </div>
    </div>

    {% for blog in blogs %}
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
                <p>
                    {{ blog.truncated_content|safe|linebreaks }}
                </p>
                {% if blog.content|length > 500 %}
                    <a class="read-more" href="{% url 'blog:blog-details' blog.id %}"> Read More </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <hr />

    {% include 'snippets/paginations.html' %}
{% endblock %}