{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% comment %} Breadcrumb {% endcomment %}

    <div class="card bg-light mt-2 mb-2">
        <div class="card-header">
            <div class="d-flex flex-row">
                <h4 class="w-100"> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a> </h4>
                {% if blog.user == user %}
                    <div class="d-flex">
                        <a href="{% url 'blog:blog-update' blog.id %}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'blog:blog-delete' blog.id %}" class="ml-2 delete-contest text-danger"> <i class="fa fa-trash" ></i></a>
                    </div>
                {% endif %}
            </div>
            <h6>
                <img class="rounded-circle mr-2" style="width: 30px; height: 30px;" src="{{ blog.user.profile.profile_picture.url }}">
                by
                <a class="rank-text rank-{{ blog.user.profile.rank }}" href="{% url 'accounts:user-profile' blog.user.username %}">
                    {{ blog.user.username }}
                </a>, <small>{{blog.created_at}}</small>
            </h6>
        </div>
        <div class="card-body" style="background-color:#f2f7fa;">
            <p>
                {{ blog.content|safe }}
            </p>
        </div>
    </div>

    <div class="card mt-5">
        {% if user is not None %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'blog:create-comment' blog.id %}" novalidate>
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form | crispy }}
                    <button  class="btn btn-link float-right" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </fieldset>
            </form>
        {% endif %}
        <div class="card-body">
            {% for comment in comments %}
                <p>
                    <img class="rounded-circle mr-2" style="width: 30px; height: 30px;" src="{{ comment.author.profile.profile_picture.url }}">
                    <a class="mr-2 " href="{% url 'accounts:user-profile' comment.author.username %}">{{ comment.author }}</a>
                    <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                    <div class="">
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div>
                </p>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}