{% extends 'core/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% for blog in blogs %}
                <div class="card bg-light mt-2 mb-2">
                    <div class="card-header">
                        <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
                        <h6>
                            by
                            <a class="rank-text rank-{{ blog.user.profile.rank }}" href="{% url 'accounts:user-profile' blog.user.username %}">
                                {{ blog.user.username }}
                            </a>, <small>{{blog.created_at}}</small>
                        </h6>
                    </div>
                    <div class="card-body" style="background-color:#f2f7fa;">
                        <p>
                            {{ blog.content|safe }}
                        </p>
                        {% if blog.content|length > 500 %}
                            <a class="read-more" href="{% url 'blog:blog-details' blog.id %}"> Read More </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3 mt-1">
            <div class="card bg-light mt-1 " style="width: 18rem;">

                <div class="card-header CardHeadCol"><strong>Upcoming Contests - MUOJ</strong></div>
                <div class="card-body">
                    <ul>
                    {% for contest in upcoming_contest %}
                        <li>
                            <h7><strong>{{contest.title}}</strong></h7>
                            {% if contest.is_rated %}
                                [<h7 style="color:#6f3ef7;"><strong>Rated</strong></h7>]
                            {% else %}
                                [<h7 style="color:#00ba8c;"><strong>Unrated</strong></h7>]
                            {% endif %}
                            <br>
                            <h7>Start time : {{contest.start_time|date:"M/d/o, H:i e"}}</h7>
                            <br>
                            <h7>Duration : {{ contest.duration }}</h7>
                            <br>
                            {% if not contest.is_registered %}
                                <a href="{% url 'contest:contest-registration' contest.id %}" class="btn btn-info btn-sm">Register</a>
                            {% else %}
                                <a class="btn btn-info btn-sm" role="button" target="_blank" href="{% url 'contest:contest-standings' contest.id %}">Contest Link</a>
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card bg-light mt-2 " style="width: 18rem;">
                <div class="card-header CardHeadCol"><strong>Upcoming Contests - Others</strong></div>
                <div class="card-body">
                    <ul style="margin-top: 5px" id="contests" class="list-group card-body"></ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        function createNode(element) {
            return document.createElement(element);
        }

        function append(parent, el) {
          return parent.appendChild(el);
        }

        function func() {
            const ul = document.getElementById('contests');
            const txt = document.getElementById('text');
            fetch('https://kontests.net/api/v1/all')
              .then(response => response.json())
              .then(response => {
                  response.sort(function(a, b) {
                      return a.start_time - b.start_time;
                  });
                  for (let i = 0; i < response.length; i++) {
                      let diff = (new Date(response[i].start_time) - new Date()) / (1000 * 3600);
                      if (diff <= 24.00 && new Date() < new Date(new Date(response[i].start_time))) {
                          let li = createNode('li');
                          let h6 = createNode('h6');
                          let bold = createNode('b');
                          append(h6, bold);

                          h6.setAttribute('style', 'font-weight:bold');
                          li.className = "list-group-item";

                          let contestName = response[i].name;

                          if (contestName.length >= response[i].site.length) {
                              if (contestName.substr(0, response[i].site.length) !== response[i].site) {
                                  contestName = response[i].site + " " + contestName;
                              }
                          } else {
                              contestName = response[i].site + " " + contestName;
                          }

                          let p = document.createTextNode(contestName);

                          append(h6, p);
                          append(li, h6);

                          let div = document.createElement('h7');
                          div.innerHTML += "Start Time: " + new Date(response[i].start_time);
                          append(li, div);

                          div = document.createElement('h6');

                          if (Math.floor(response[i].duration/(3600)) > 1) {
                              div.innerHTML += "Duration: " + Math.floor(response[i].duration/ 3600) + " Hours";

                              if (parseInt(response[i].duration) % 3600 !== 0) {
                                  div.innerHTML += " " + Math.floor((parseInt(response[i].duration) % 3600) / 60) + " Minutes";
                              }

                              append(li, div);
                          } else if (Math.floor(response[i].duration/(3600)) > 0) {
                              div.innerHTML += "Duration: " + Math.floor(response[i].duration/ 3600) + " Hour";

                              if (parseInt(response[i].duration) % 3600 !== 0) {
                                  div.innerHTML += " " + Math.floor((parseInt(response[i].duration) % 3600) / 60) + " Minutes";
                              }

                              append(li, div);
                          } else {
                              if (parseInt(response[i].duration) % 3600 !== 0) {
                                  div.innerHTML += "Duration: " + Math.floor(response[i].duration / 60) + " Minutes";
                              }
                              append(li, div);
                          }

                          p = document.createTextNode('Contest Link');
                          let a = document.createElement('a');
                          a.href = response[i].url;
                          a.setAttribute('role', 'button');
                          a.setAttribute('target', '_blank');
                          a.setAttribute('class', 'btn btn-primary btn-sm');

                          li.setAttribute('style', 'padding-bottom:20px')

                          append(a, p);
                          append(li, a);
                          append(ul, li);
                      }
                  }
                  txt.innerHTML += 'Generated by - MUOJ<br>';
              })
        }
        function wait(ms){
           const start = new Date().getTime();
           let end = start;
           while(end < start + ms) {
             end = new Date().getTime();
          }
        }
    </script>
{% endblock %}