{% extends 'core/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% for blog in blogs %}
                <div class="card bg-light mt-2 mb-2">
                    <div class="card-header">
                        <h4> <a class="blog-title" href="{% url 'blog:blog-details' blog.id %}"> {{ blog.title }} </a>  </h4>
                        <h6>
                            by
                            <a class="rank-text rank-{{ blog.user.profile.rank }}" href="{% url 'accounts:user-profile' blog.user.username %}">
                                {{ blog.user.username }}
                            </a>, <small>{{blog.created_at}}</small>
                        </h6>
                    </div>
                    <div class="card-body" style="background-color:#f2f7fa;">
                        <p>
                            {{ blog.content|safe|truncatechars_html:1000 }}
                        </p>
                        {% if blog.content|length > 1000 %}
                            <a class="read-more" href="{% url 'blog:blog-details' blog.id %}"> Read More </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% include 'snippets/paginations.html' %}
        </div>
        <div class="col-sm-3 mt-1">
            <div class="card bg-light mt-1 " style="width: 18rem;">

                <div class="card-header CardHeadCol"><strong>Upcoming Contests - MUOJ</strong></div>
                <div class="card-body" style="background-color:#f2f7fa;">
                    <ul>
                    {% for contest in upcoming_contest %}
                        <li>
                            <h7><strong>{{contest.title}}</strong></h7>
                            {% if contest.is_rated %}
                                [<h7 style="color:#6f3ef7;"><strong>Rated</strong></h7>]
                            {% else %}
                                [<h7 style="color:#00ba8c;"><strong>Unrated</strong></h7>]
                            {% endif %}
                            <br>
                            <h7>Start time : {{contest.start_time|date:"M/d/o, H:i e"}}</h7>
                            <br>
                            <h7>Duration : {{ contest.duration }}</h7>
                            <br>
                            {% if not contest.is_registered %}
                                <a href="{% url 'contest:contest-registration' contest.id %}" class="btn btn-info btn-sm">Register</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" role="button" href="{% url 'contest:contest-standings' contest.id %}">Contest Link</a>
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card bg-light mt-1 " style="width: 18rem;background-color:#f2f7fa;">
                <div class="card-header CardHeadCol"><strong>Upcoming Contests - Others</strong></div>
                <ul id="contests"></ul>
            </div>

            <div class="card bg-light mt-1 " style="width: 18rem;background-color:#f2f7fa;">
                <div class="card-header text-center CardHeadCol"><strong>Search User</strong></div>
                <div class="card-body" style="width: 18rem;background-color:#f2f7fa;">
                    <form id="searchForm">
                        <div class="form-outline">
                            <input type="search" onsubmit="" id="getUser" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% include 'core/snippets/kontests_api.html' %}

    <script>
        function usernameCheckAndRedirect(username) {
            $.ajax({
                url: '{% url 'accounts-api:accounts-api-v1:autocomplete' %}',
                data: {
                    'term': username
                },

                success: function (response) {
                    window.location = "{% url 'accounts:user-profile' 12345 %}".replace('/12345/', `/${username}/`);
                },

                error: function (error) {
                    toastr.error(error["responseJSON"]["detail"], "Not Found");
                }
            })
        }

        $(document).ready(function() {
            $( "#getUser" ).autocomplete({
                source: '{% url 'accounts-api:accounts-api-v1:autocomplete' %}',
                minLength: 1,
            });

            $('#searchForm').on('submit', function (e) {
                e.preventDefault();
                usernameCheckAndRedirect($('#getUser').val());
            })
        })
    </script>
{% endblock %}