{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if operation == 'Update' %}
        {% include 'dashboard/snippets/contest_info_tabs.html' %}
    {% endif %}

    <div class="card">
        <div class="card-header text-center">
            <strong> {{ card_header }} </strong>
        </div>

        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <fieldset>
                    {{ form | crispy }}
                    {{ form.media }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"> {{ operation }} </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}