{% extends 'accounts/base.html' %}

{% block content %}
    {% include 'dashboard/snippets/list_tabs.html' %}

    <div class="card">
        <div class="card-body">
            <a href="{% url 'problemset:add-problem' %}" class="add-contest btn btn-sm btn-primary float-right mr-0 mb-2">
                <i class="fa fa-plus mr-1"></i> Add Problem
            </a>
            <div class="table-responsive p-1">
                <table id="id_problem_list" class="table  table-bordered table-hover table-striped">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th width="8%"> # </th>
                            <th> Name </th>
                            <th width="10%"> Time Limit </th>
                            <th width="12%"> Memory Limit </th>
                            <th width="12%"> Is Protected </th>
                            <th width="15%"> Actions </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for problem in user_problems %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a href="{% url 'problemset:problem-details' problem.id %}">
                                        {{ problem.name }}
                                    </a>
                                </td>
                                <td> {{ problem.time_limit }} s </td>
                                <td> {{ problem.memory_limit }} kb </td>
                                <td>
                                    {% if problem.is_protected %}
                                        <i class="text-success fa fa-check-circle-o"></i>
                                    {% else %}
                                        <i class="text-danger fa fa-times-circle-o"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="text-info" href="{% url 'problemset:problem-update' problem.id %}">
                                        <i class="fa fa-edit" title="Update Info"></i>
                                    </a>
                                    <a class="text-dark ml-2" href="{% url 'problemset:testcase-list' problem.id %}">
                                        <i class="fa fa-database" title="TestCases"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}