
<div class="tabs">
		<ul>
			<li class="tab-li {{ problemset_problems_tab }}"><a class="urlBlackColor btn" href="{% url 'problemset:problem-list' %}">Problems</a></li>
            <li class="tab-li {{ problemset_submissions_tab }}"><a class="urlBlackColor btn" href="{% url 'problemset:submission-list' %}">Submissions</a></li>
            <li class="tab-li {{ problemset_standings_tab }}"><a class="urlBlackColor btn" href="{% url 'problemset:standings' %}">Standings</a></li>
		</ul>
</div>