{% extends 'channel/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header text-center"> {{  channel.title  }} </div>
        <div class="card-body">
            <div style="height: 72vh;">
                <ul class="chat-items">
                    {% for message in messages %}
                        <div class="message-wrapper d-flex flex-column">
                            {% if user == message.user %}
                                <div class="d-flex flex-row-reverse">
                                    <div class="message-text message-right">
                                        <div class="rank-text rank-{{ message.user.profile.rank }} text-right">
                                            {{ message.user.username }}
                                        </div>
                                        <div class="text-right"> {{ message.text }} </div>
                                        <div class="text-muted text-right" style="font-size: 10px;">
                                            {{ message.created_at|date:"F d, Y, H:i" }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row">
                                    <div class="message-text message-left">
                                        <div class="rank-text rank-{{ message.user.profile.rank }} text-left">
                                            {{ message.user.username }}
                                        </div>
                                        <div class="text-left"> {{ message.text }} </div>
                                        <div class="text-muted text-left" style="font-size: 10px;">
                                            {{ message.created_at|date:"F d, Y, H:i" }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>

                <form method="POST" autocomplete="off" id="message-form" action="{% url 'channel:message-create' channel.id %}" novalidate>
                    {% csrf_token %}
                    {{ message_form|crispy }}
                    <button class="btn btn-sm btn-primary" type="submit"> Send </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
            integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous">
    </script>

    <script>
        function scrollToBottom() {
            const objDiv = document.getElementsByClassName("chat-items")[0];
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        $(document).ready(function () {
            scrollToBottom();
            const form = $('#message-form');
            const message = $('#id_text');
            const chatHolder = $('.chat-items');

            // Socket Related
            const wsStart = location.protocol === 'https://' ? 'wss://' : 'ws://';
            const endpoint = wsStart + location.host + location.pathname;

            const socket = new WebSocket(endpoint);

            socket.onmessage = function (e) {
                console.log("message", e);
                const message = JSON.parse(e.data);
                addMessage(message);
                scrollToBottom();
            }

            socket.onopen = function (e) {
                console.log("open", e);
                form.submit(function (e) {
                    e.preventDefault();
                    const data = {
                        message: message.val(),
                        username: "{{ user.username }}"
                    };
                    socket.send(JSON.stringify(data));
                    form[0].reset();
                })
            }

            socket.onerror = function (e) {
                console.log("error", e)
            }

            socket.onclose = function (e) {
                console.log("close", e)
            }

            // Utils
            function addToRight(data) {
                chatHolder.append(`<div class="d-flex flex-row-reverse">
                    <div class="message-text message-right">
                        <div class="rank-text rank-${data.rank} text-right">
                            ${data.username}
                        </div>
                        <div class="text-right"> ${data.message} </div>
                        <div class="text-muted text-right" style="font-size: 10px;"> ${data.created_at} </div>
                    </div>
                 </div>`);
            }
            function addToLeft(data) {
                chatHolder.append(`<div class="d-flex flex-row">
                    <div class="message-text message-left">
                        <div class="rank-text rank-${data.rank} text-left">
                            ${data.username}
                        </div>
                        <div class="text-left"> ${data.message} </div>
                        <div class="text-muted" style="font-size: 10px;"> ${data.created_at} </div>
                    </div>
                 </div>`);
            }
            function addMessage(data) {
                if ("{{ user.username }}" === data.username) {
                    addToRight(data);
                } else {
                    addToLeft(data);
                }
            }
        });
    </script>
{% endblock %}