{% extends 'channel/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div style="height: 78vh;">
        <ul class="chat-items" style="height: 80%; overflow-y: scroll;">
            {% for message in messages %}
                <div class="message-wrapper d-flex flex-column">
                    {% if user == message.user %}
                        <div class="d-flex flex-row-reverse">
                            <div class="message-text message-right">
                                <div class="message-user-right text-right"> {{ message.user.username }} </div>
                                {{ message.text }}
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex flex-row">
                            <div class="message-text message-left">
                                <div class="message-user-left text-left"> {{ message.user.username }} </div>
                                {{ message.text }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>

        <form method="POST" id="message-form" action="{% url 'channel:message-create' channel.id %}" novalidate>
            {% csrf_token %}
            {{ message_form|crispy }}
            <button class="btn btn-sm btn-primary" type="submit"> Send </button>
        </form>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
            integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous">
    </script>

    <script>
        function scrollToBottom() {
            const objDiv = document.getElementsByClassName("chat-items")[0];
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        $(document).ready(function () {
            scrollToBottom();
            const form = $('#message-form');
            const message = $('#id_text');
            const chatHolder = $('.chat-items');

            // Socket Related
            const wsStart = location.protocol === 'https://' ? 'wss://' : 'ws://';
            const endpoint = wsStart + location.host + location.pathname;

            const socket = new WebSocket(endpoint);

            socket.onmessage = function (e) {
                console.log("message", e);
                const message = JSON.parse(e.data);
                addMessage(message.message, message.username);
                scrollToBottom();
            }

            socket.onopen = function (e) {
                console.log("open", e);
                form.submit(function (e) {
                    e.preventDefault();
                    const data = {
                        message: message.val(),
                        username: "{{ user.username }}"
                    };
                    socket.send(JSON.stringify(data));
                    form[0].reset();
                })
            }

            socket.onerror = function (e) {
                console.log("error", e)
            }

            socket.onclose = function (e) {
                console.log("close", e)
            }

            // Utils
            function addToRight(message, username) {
                chatHolder.append(`<div class="d-flex flex-row-reverse">
                    <div class="message-text message-right">
                        <div class="message-user-right text-right"> ${username } </div>
                        ${message}
                    </div>
                 </div>`);
            }
            function addToLeft(message, username) {
                chatHolder.append(`<div class="d-flex flex-row">
                    <div class="message-text message-left">
                        <div class="message-user-left text-right"> ${username } </div>
                        ${message}
                    </div>
                 </div>`);
            }
            function addMessage(message, username) {
                if ("{{ user.username }}" === username) {
                    addToRight(message, username);
                } else {
                    addToLeft(message, username);
                }
            }
        });
    </script>
{% endblock %}