/* Custom page CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.breadcrumb {
    background-color: #d3dae0;
}

main > .container {
    padding: 70px 15px 15px;
}

.footer {
    background-color: #e1e3e8;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bg-dark-blue {
    color: #495057;
    background-color: #364150;
}

.bg-light-blue {
    background-color: #f7f9fc;
}

a:hover {
    text-decoration: none;
}

.urlBlackColor{
    color:black;
}

/** Rank Color Scheme **/
.rank-text {
    font-weight: bold;
}

.rank-text:hover {
    background-color: transparent !important;
    color: inherit !important;
}

.rank--10000 {
    color: gray;
}

.rank-1200 {
    color: green;
}

.rank-1400 {
    color: #03A89E;
}

.rank-1600 {
    color: #0000cc;
}

.rank-1900 {
    color: #a0a;
}

.rank-2100 {
    color: #FF8C00;
}

.rank-2300 {
    color: #FF8C00;
}

.rank-2400 {
    color: red;
}
/** nabvar styles**/
.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
/**table**/


/** Read More **/
.read-more {
    text-decoration: dotted underline;
    text-underline-position: under;
}

.read-more:hover {
    text-decoration: dotted underline;
    text-underline-position: under;
}

/** tabs **/
.wrapper{
	width: 1000px;
	margin: 150px auto;
}

.tabs ul{
	display: flex;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
}

.tabs ul li{
	width: 35%;
	padding: 10px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #028f68;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e8f5f1;
	color: #0a944f;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .title{
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 600;
}

.tab_wrap .tab_content p{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}

/**extra**/

.CardHeadCol{
    color:#3f4d63;
}

@media screen and (max-width: 930px) {
	.tabs ul {
		flex-direction: column;
	}

	.tabs ul li {
		border: 1px solid #e7e1e1;
		width: 100%;
	}
}

/** header **/
.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.typinganimationtext {
    animation : type 2s steps(7);
    overflow: hidden;
    white-space: nowrap;
    margin-left: 80px;
    font-family: 'Brush Script MT', cursive;
}
@keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:7ch;
    }
}
