/* Custom page CSS */

main > .container {
    padding: 70px 15px 15px;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bg-dark-blue {
    color: #495057;
    background-color: #364150;
}

.bg-light-blue {
    background-color: #f7f9fc;
}

a:hover {
    text-decoration: none;
}

/** Rank Color Scheme **/
.rank-text {
    font-weight: bold;
}

.rank-text:hover {
    background-color: transparent !important;
    color: inherit !important;
}

.rank--10000 {
    color: gray;
}

.rank-1200 {
    color: green;
}

.rank-1400 {
    color: #03A89E;
}

.rank-1600 {
    color: #0000cc;
}

.rank-1900 {
    color: #a0a;
}

.rank-2100 {
    color: #FF8C00;
}

.rank-2300 {
    color: #FF8C00;
}

.rank-2400 {
    color: red;
}
/** nabvar styles**/
.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

/** Read More **/
.read-more {
    text-decoration: dotted underline;
    text-underline-position: under;
}

.read-more:hover {
    text-decoration: dotted underline;
    text-underline-position: under;
}