{% extends 'contest/base.html' %}

{% load custom_tags %}

{% block content %}
    <h2 class="text-center"> {{ contest.title }} </h2>
    <h5 class="countdown text-center"> </h5>
    {% include 'contest/snippets/detail_tabs.html' %}

    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
                <table id="id_standing_list" class="table table-bordered table-hover">
                    <thead class="text-center">
                        <tr>
                            <th width="8%"> # </th>
                            <th width="20%"> Handle </th>
                            {% for _ in contest.problem_ids %}
                                <th> {{ forloop.counter0|num_to_alpha }} </th>
                            {% endfor %}
                            <th width="15%"> Total Score </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for user in contest.standings %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a href="{% url 'accounts:user-profile' user.username %}" class="rank-text rank-{{ user.rank }}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                {% for score in user.scores_per_problem %}
                                    <td>
                                        {% if score %}
                                            <span class="text-success" style="font-weight: bold;"> {{ score }} </span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>
                                    <span class="text-success" style="font-weight: bold;"> {{ user.total_score }} </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% include 'contest/snippets/countdown_timer_js.html' %}
{% endblock %}