{% extends 'contest/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="text-center"> {{ contest.title }} </h2>
    <h5 class="countdown text-center"> </h5>
    {% include 'contest/snippets/detail_tabs.html' %}
    <div class="card">

        <div class="card-body">
            <div class="table-responsive p-1">
                <table id="id_problem_list" class="table  table-bordered table-hover table-striped">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th width="8%"> # </th>
                            <th>
                                Name
                            </th>
                            <th width="15%"> Solve Count </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for problem in problems %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a href="{% url 'contest:contest-problem-details' contest.id problem.id %}">
                                        {{ problem.name }}
                                        {% if problem.is_solved %}
                                            <span class="fa fa-check text-success"> </span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td> {{ problem.solve_count }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>

    <button type="button" class="btn btn-sm btn-primary float-right mr-0 mb-2" data-toggle="modal" data-target="#exampleModalCenter">
        Ask Question
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ask Question</h5>
                </div>
                <form method="POST" action="{% url 'contest:ask-question' contest.id %}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        <fieldset>
                            {{ form_class | crispy }}
                            {{ form_class.media }}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-sm btn-primary" type="submit"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>

    {% comment %} Reply Modal {% endcomment %}
    <div class="modal fade" id="ModalReply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Reply</h5>
            </div>
                <form method="POST" class="reply_form">
                <div class="modal-body">
                    {% csrf_token %}
                <fieldset>
                    <input aria-label="clarification id" class="clarification_id" type="text" hidden />
                    {{ form_reply | crispy }}
                    {{ form_reply.media }}
            </fieldset>
         </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary reply" type="submit"> Add </button>
            </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
                <table  class="table  table-bordered table-hover table-striped">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th width="10%"> # </th>
                            <th width="10%"> Who </th>
                            <th width="10%">When</th>
                            <th width="10%">Problem</th>
                            <th width="30%"> Question </th>
                            <th width="30%"> Reply </th>
                            {% if user == contest.author %}
                                <th width="10%">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for clarification in clarifications %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td><a href="#">{{ clarification.user }} </a></td>
                                <td> {{ clarification.created_at|date:"H:i  d-n-Y" }} </td>
                                <td>
                                    <a href="{% url 'contest:contest-problem-details' contest.id clarification.problem.id %}">
                                        {{ clarification.problem }}
                                    </a>
                                </td>
                                <td>
                                    {{ clarification.question }}
                                </td>
                                <td>
                                    {{ clarification.answer }}
                                </td>
                                {% if user == contest.author %}
                                <td data-c-id="{{ clarification.id }}">
                                    {% if clarification.answer %}
                                        <a
                                                class="text-info"
                                                onclick="updateReply('{{clarification.answer}}', this);"
                                                href="#"
                                                data-toggle="modal"
                                                data-target="#ModalReply" >
                                            <i class="fa fa-reply" aria-hidden="true" title="Edit"></i>
                                        </a>
                                    {% else %}
                                        <a
                                                class="text-info"
                                                onclick="reply(this)"
                                                href="#"
                                                data-toggle="modal"
                                                data-target="#ModalReply" >
                                            <i class="fa fa-reply" aria-hidden="true" title="Reply"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% include 'contest/snippets/countdown_timer_js.html' %}
    <script>
        function reply(that) {
            $('.clarification_id').val($(that).parent().data('c-id'));
        }

        function updateReply(answer, that){
            $('#id_answer').text(answer);
            $('.clarification_id').val($(that).parent().data('c-id'));
        }

        $('.reply').on('click', function (e) {
            e.preventDefault();
            const c_id = $('.clarification_id').val();
            const url = "{% url 'contest:reply-question' 1234 2345 %}"
                        .replace('1234', '{{ contest.id }}')
                        .replace('2345', c_id);
            $('.reply_form')[0].action = url;
            $('.reply_form')[0].submit();
        })
    </script>
{% endblock %}