{% extends 'contest/base.html' %}

{% block content %}
    {% include 'contest/snippets/list_tabs.html' %}
    <div class="card">
        <div class="card-body">
            <table class="table table-responsive table-hover text-center table-bordered table-striped">
                <thead >
                    <tr>
                        <th > #</th>
                        <th width="40%"> Name</th>
                        <th width="12%"> Author</th>
                        <th width="12%"> Start</th>
                        <th width="12%"> Duration</th>
                        <th width="12%"> Time Left</th>
                        <th width="12%"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for contest in contests %}
                        <tr>

                            <td> {{ forloop.counter }} </td>
                            <td>
                                <a href="{% url 'contest:contest-standings' contest.id %}"> {{ contest.title }}</a>
                                <br>
                                {% if contest.is_registered %}
                                    <a href="{% url 'contest:contest-problems' contest.id %}" class="btn btn-sm btn-primary">Enter</a>
                                {% endif %}
                            </td>
                            <td><a href="#">  {{ contest.author }}</a> </td>
                            <td> {{ contest.start_time|date:"M/d/o H:i e" }} </td>
                            <td>{{ contest.duration }}</td>
                            <td data-end-time="{{ contest.end_time|date:'Y-m-d H:i:s' }}" class="countdown"> 00:00:00  </td>
                            <td><a href="#">Details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% include 'contest/snippets/list_countdown_timer_js.html' %}
{% endblock %}